@media (max-width: 72rem) {
    /* 1150px/16px=72rem */
    html {
        font-size: 56.25%;
        /* 9px/16px=56.25% */
    }

    .main-heading {
        margin-bottom: 20rem;
        
    }
    
}

@media (max-width:54rem ) {
    /* 860px/16px=54rem*/
    html {
        font-size: 50%;
        /* 8px/16px=50% */
    }

}

@media (max-width: 42rem) {
    /* 673px/16px=42rem */
    html {
        font-size: 43.8%;
        /* 7px/16px=43.8% */
    }

   
}

@media (max-width: 34rem) {
    /* 550px/16px=34rem */
    html {
        font-size: 37.5%;
        /* 6px/16px=37.5% */
    }

    .heading {
        padding: 4rem 4rem;
       
    }

    .head-1 {
        text-align: center;
        margin-bottom: 5rem;
    }

    .head-2 {
      text-align: center;
    }

    .highlight {
      text-align: center;

    }

    .feat-section {
        grid-template-columns: 1fr;
        gap: 8rem;
        
    
    }
}



